<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Ready for Change?</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" /> -->
		<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet" />
		<!-- <img src="http://aroundcorners.blob.core.windows.net/assets/images/bg/default.jpg" style="display:none;" alt="Background" /> -->

	</head>

	<body>
		<header>
			<center><h1><span><strong>{{ip}}</strong></span></h1></center>
		</header> 
		{{{body}}}
	</body>
</html>
